USE [master]
GO
/****** Object:  Database [DatabaseAuto]    Script Date: 09.06.2024 21:32:34 ******/
CREATE DATABASE [DatabaseAuto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ISPBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ISPBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ISPBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ISPBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DatabaseAuto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DatabaseAuto]
GO
/****** Object:  Table [dbo].[AutoParts]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutoParts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[TypeID] [int] NOT NULL,
	[PurchasePrise] [decimal](18, 0) NOT NULL,
	[Image] [varchar](100) NULL,
	[ManufacturerID] [int] NOT NULL,
	[Description] [varchar](max) NULL,
 CONSTRAINT [PK_CarParts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] NOT NULL,
	[PositionID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Lastname] [varchar](100) NOT NULL,
	[Patronymic] [varchar](100) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cost] [decimal](18, 0) NOT NULL,
	[DateTimePurchase] [datetime] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartsInOeder]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartsInOeder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PartsInStoreID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_PartsInOeder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartsInStore]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartsInStore](
	[Id] [int] NOT NULL,
	[AutoPartID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_PartsInStore] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartsInSupply]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartsInSupply](
	[Id] [int] NOT NULL,
	[AutoPartID] [int] NOT NULL,
	[SupplyID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_PartsInSupply] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Id] [int] NOT NULL,
	[ManufacturerID] [int] NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplies]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplies](
	[Id] [int] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Cost] [decimal](18, 0) NOT NULL,
	[SupplyDate] [date] NOT NULL,
	[TotalQuantity] [int] NOT NULL,
 CONSTRAINT [PK_Supplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeParts]    Script Date: 09.06.2024 21:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeParts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Imade] [varchar](100) NULL,
 CONSTRAINT [PK_CategoryParts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AutoParts] ON 

INSERT [dbo].[AutoParts] ([Id], [Name], [TypeID], [PurchasePrise], [Image], [ManufacturerID], [Description]) VALUES (1, N'Поршень', 1, CAST(50 AS Decimal(18, 0)), N'..\..\..\Resourse\DvigatelImage\Porshen.png', 1, NULL)
INSERT [dbo].[AutoParts] ([Id], [Name], [TypeID], [PurchasePrise], [Image], [ManufacturerID], [Description]) VALUES (2, N'Шатун', 1, CAST(30 AS Decimal(18, 0)), N'..\..\..\Resourse\DvigatelImage\Shatyn.png', 1, NULL)
INSERT [dbo].[AutoParts] ([Id], [Name], [TypeID], [PurchasePrise], [Image], [ManufacturerID], [Description]) VALUES (3, N'Коленвал', 1, CAST(80 AS Decimal(18, 0)), N'..\..\..\Resourse\DvigatelImage\Kolenval.png', 1, NULL)
SET IDENTITY_INSERT [dbo].[AutoParts] OFF
GO
INSERT [dbo].[Employees] ([Id], [PositionID], [Name], [Lastname], [Patronymic], [Login], [Password]) VALUES (1, 1, N'Роман', N'Злоеев', N'Ильич', N'admin', N'admin')
GO
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (1, N'Bosch')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (2, N'Toyota')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (3, N'KYB')
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [Cost], [DateTimePurchase]) VALUES (29, CAST(43614 AS Decimal(18, 0)), CAST(N'2024-05-31T17:51:34.457' AS DateTime))
INSERT [dbo].[Orders] ([Id], [Cost], [DateTimePurchase]) VALUES (30, CAST(486 AS Decimal(18, 0)), CAST(N'2024-05-31T17:52:21.030' AS DateTime))
INSERT [dbo].[Orders] ([Id], [Cost], [DateTimePurchase]) VALUES (31, CAST(130680 AS Decimal(18, 0)), CAST(N'2024-05-31T21:19:51.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[PartsInOeder] ON 

INSERT [dbo].[PartsInOeder] ([Id], [PartsInStoreID], [OrderID], [Quantity]) VALUES (41, 8, 29, 1)
INSERT [dbo].[PartsInOeder] ([Id], [PartsInStoreID], [OrderID], [Quantity]) VALUES (42, 5, 29, 1)
INSERT [dbo].[PartsInOeder] ([Id], [PartsInStoreID], [OrderID], [Quantity]) VALUES (43, 3, 29, 1)
SET IDENTITY_INSERT [dbo].[PartsInOeder] OFF
GO
INSERT [dbo].[PartsInStore] ([Id], [AutoPartID], [Quantity], [Price]) VALUES (1, 1, 97, CAST(90 AS Decimal(18, 0)))
INSERT [dbo].[PartsInStore] ([Id], [AutoPartID], [Quantity], [Price]) VALUES (2, 2, 100, CAST(54 AS Decimal(18, 0)))
INSERT [dbo].[PartsInStore] ([Id], [AutoPartID], [Quantity], [Price]) VALUES (3, 3, 98, CAST(144 AS Decimal(18, 0)))
GO
INSERT [dbo].[Position] ([Id], [Name]) VALUES (1, N'администратор')
GO
SET IDENTITY_INSERT [dbo].[TypeParts] ON 

INSERT [dbo].[TypeParts] ([Id], [Name], [Imade]) VALUES (1, N'Запчасти для двигателя', N'..\..\..\Resourse\Двигатель.png')
INSERT [dbo].[TypeParts] ([Id], [Name], [Imade]) VALUES (2, N'Тормозная система', N'..\..\..\Resourse\Brake.png')
INSERT [dbo].[TypeParts] ([Id], [Name], [Imade]) VALUES (3, N'Трансмиссия', N'..\..\..\Resourse\Transmissia.png')
SET IDENTITY_INSERT [dbo].[TypeParts] OFF
GO
ALTER TABLE [dbo].[AutoParts]  WITH CHECK ADD  CONSTRAINT [FK_AutoParts_TypeParts] FOREIGN KEY([TypeID])
REFERENCES [dbo].[TypeParts] ([Id])
GO
ALTER TABLE [dbo].[AutoParts] CHECK CONSTRAINT [FK_AutoParts_TypeParts]
GO
ALTER TABLE [dbo].[AutoParts]  WITH CHECK ADD  CONSTRAINT [FK_CarParts_Manufacturers] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturers] ([Id])
GO
ALTER TABLE [dbo].[AutoParts] CHECK CONSTRAINT [FK_CarParts_Manufacturers]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Position] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Position] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Position]
GO
ALTER TABLE [dbo].[PartsInOeder]  WITH CHECK ADD  CONSTRAINT [FK_PartsInOeder_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[PartsInOeder] CHECK CONSTRAINT [FK_PartsInOeder_Orders]
GO
ALTER TABLE [dbo].[PartsInOeder]  WITH CHECK ADD  CONSTRAINT [FK_PartsInOeder_PartsInStore] FOREIGN KEY([PartsInStoreID])
REFERENCES [dbo].[PartsInStore] ([Id])
GO
ALTER TABLE [dbo].[PartsInOeder] CHECK CONSTRAINT [FK_PartsInOeder_PartsInStore]
GO
ALTER TABLE [dbo].[PartsInStore]  WITH CHECK ADD  CONSTRAINT [FK_PartsInStore_AutoParts] FOREIGN KEY([AutoPartID])
REFERENCES [dbo].[AutoParts] ([Id])
GO
ALTER TABLE [dbo].[PartsInStore] CHECK CONSTRAINT [FK_PartsInStore_AutoParts]
GO
ALTER TABLE [dbo].[PartsInSupply]  WITH CHECK ADD  CONSTRAINT [FK_PartsInSupply_AutoParts] FOREIGN KEY([AutoPartID])
REFERENCES [dbo].[AutoParts] ([Id])
GO
ALTER TABLE [dbo].[PartsInSupply] CHECK CONSTRAINT [FK_PartsInSupply_AutoParts]
GO
ALTER TABLE [dbo].[PartsInSupply]  WITH CHECK ADD  CONSTRAINT [FK_PartsInSupply_Supplies] FOREIGN KEY([SupplyID])
REFERENCES [dbo].[Supplies] ([Id])
GO
ALTER TABLE [dbo].[PartsInSupply] CHECK CONSTRAINT [FK_PartsInSupply_Supplies]
GO
ALTER TABLE [dbo].[Suppliers]  WITH CHECK ADD  CONSTRAINT [FK_Suppliers_Manufacturers] FOREIGN KEY([ManufacturerID])
REFERENCES [dbo].[Manufacturers] ([Id])
GO
ALTER TABLE [dbo].[Suppliers] CHECK CONSTRAINT [FK_Suppliers_Manufacturers]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Employees] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Employees]
GO
ALTER TABLE [dbo].[Supplies]  WITH CHECK ADD  CONSTRAINT [FK_Supplies_Suppliers] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([Id])
GO
ALTER TABLE [dbo].[Supplies] CHECK CONSTRAINT [FK_Supplies_Suppliers]
GO
USE [master]
GO
